<ion-card>

    <ion-card-header>
        <ion-card-title>
            Prédiction du risque d’hospitalisation des patients positifs COVID-19
        </ion-card-title>
        <ion-card-subtitle>Veuillez compléter ce formulaire pour obtenir nos prédictions.</ion-card-subtitle>
    </ion-card-header>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ion-item [ngClass]="{'has-errors' : (form.controls['age'].touched || form.controls['age'].dirty) && form.controls['age'].invalid}">
          <ion-label floating color="primary">Age</ion-label>
          <ion-input  slot="end" 
            type="number"
            formControlName="age"
            min="0"
            max="120"
            placeholder="Entrez votre âge"
            style="text-align: right;"
          ></ion-input>
        </ion-item>

        <!-- ERROR  -->
      <ion-item class="error-field" lines="none"  *ngIf="form.controls['age'].invalid  && (form.controls['age'].dirty || form.controls['age'].touched)">
          <ng-container *ngIf="form.controls['age'].errors.required ; then thenblock else elseblock"></ng-container>
          <ng-template #thenblock><ion-note slot="end" color="danger" >Veuillez renseigner ce champ.</ion-note></ng-template>
          <ng-template #elseblock><ion-note slot="end" color="danger" >L'âge doit être compris entre 1 et 120.</ion-note></ng-template>
    </ion-item>

        <ion-item [ngClass]="{'has-errors' : (form.controls['sex'].touched || form.controls['sex'].dirty) && form.controls['sex'].invalid}">
          <ion-label floating color="primary">Sexe</ion-label>
          <ion-select
            multiple="false"
            formControlName="sex"
            cancelText="Annuler"
            okText="Valider"
            placeholder="Indiquez votre sexe"
          >
            <ion-select-option [value]="0">Femme</ion-select-option>
            <ion-select-option [value]="1">Homme</ion-select-option>
          </ion-select>
        </ion-item>
      
        <ion-item class="error-field" lines="none"  *ngIf="form.controls['sex'].errors?.required  && (form.controls['sex'].dirty || form.controls['sex'].touched)">
            <ion-note slot="end" color="danger" >Veuillez renseigner ce champ.</ion-note>
        </ion-item>
      
        <ion-item>
          <ion-label floating color="primary">Risques</ion-label>
          <ion-select
            multiple="true"
            formControlName="risks"
            cancelText="Annuler"
            okText="Valider"
            placeholder="Indiquez vos facteurs de risque"
          >
            <ion-select-option
              *ngFor="let element of risks_options"
              [value]="element.code"
              >{{ element.display }}</ion-select-option
            >
          </ion-select>
        </ion-item>
      
        <ion-item>
          <ion-label floating color="primary">Symptômes</ion-label>
          <ion-select
            multiple="true"
            formControlName="symptoms"
            cancelText="Annuler"
            okText="Valider"
            placeholder="Indiquez vos symptômes"
          >
            <ion-select-option
              *ngFor="let element of symp_options"
              [value]="element.code"
              >{{ element.display }}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-button expand="full" size="large" type="submit"   [disabled]="!form.valid">Envoyer</ion-button>

      </form>
</ion-card>

