<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <img height="40" src="assets/icon/comunicare_logo.png" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-ecg class="centered-container" *ngIf="isLoading"></app-ecg>

  <app-form
    class="centered-container"
    *ngIf="!prediction && !isLoading"
    (formSentEvent)="sendPostRequest($event )"
  ></app-form>
  <app-prediction
    *ngIf="prediction && !loading"
    [response]="prediction"
  ></app-prediction>
</ion-content>
<ion-footer>
  <ion-toolbar class="ion-text-center" color="dark">
    <ion-title size="small"
      >© Copyright 2020
      <a href="https://www.comunicare.be/">Comunicare</a></ion-title
    >
  </ion-toolbar>
</ion-footer>
